<!DOCTYPE html>
<html>
  <head>
    <title>Shogistudy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render 'shared/header_nav' %>
    </header>
    <%= yield %>
  </body>
</html>
